/* Container holding the image and the text */

.container {
    position: relative;
    text-align: center;
    font-size: 25px;
    color: white;
    background: black;
    margin: 0;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  
  img {
    opacity: 0.6;
    height: 50%;
  }
  
  .form {
    width: 100%;
    background: rgba(165, 162, 163, 0.6);
    margin: 0 auto;
    padding: 50px 80px;
    max-width: 500px;
    max-height: auto;
    border-radius: 17px;
    }
  
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(https://media.istockphoto.com/id/1360486162/video/vertical-colorful-gradient-loopable-background-animation.jpg?s=640x640&k=20&c=NKp-lYAiD0pKfEt62QebNkaL9esYIH2in_kzHaO4y68=);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
  }
  
  
  .class-radio, .class-check{
    float: left;
    margin: 3.25px 5px 0 4.5px;
    width: 5%;
    display: inline-block;
    margin-right: 0.625px;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
  }
  
  input[type="checkbox"] {
    display: inline-block;
  }
  
  .copyright{
    display: block;
    height: 100px;
    text-align: center;
    background-color: #eee;
  }
  
  .author{
    color: black;
    margin-top: 16px;
    padding-top: 1rem;
  }
  
  .github-logo{
    margin-bottom: 16px;
    padding: 1rem;
    background-color: #eee;
  }
  ::placeholder { 
    color: white;
  }